streamlit

langchain
langchain-community
langchain-huggingface
langchain-chroma

watchdog
pypdf
chromadb

langchain-groq
groq
sentence-transformers

python-dotenv

# Compatibilidade com chromadb/opentelemetry
# Isso é só porque apareceu um bug sinistro no streamlit
# Evitando erro de "Descriptors cannot be created directly"

protobuf<4

# Compatibilidade para resolver: ImportError: cannot import name '_OTLP_GRPC_HEADERS'
opentelemetry-exporter-otlp<1.22